.customer-reviews {
  display: grid;
  grid-template-columns: 33% 67%;
  grid-gap: 1rem;
}

.reviews-list {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 1rem;
  margin-bottom: 3rem;
}
